/*
PPG: Proxy Payment Gateway

PPG is the Proxy Payment Gateway of Jibit corporation. It lets the users of 3rd-party clients (merchants, banks, organizations, ...) to purchase goodies from them using PPG as a transparent payment gateway. In back-end the user will be redirected to a PSP payment gateway (for example Saman) to pay the price of the purchase.  Using APIs of this application a client can create and initiate the purchase orders and can track the state of these purchases.  Using *Swagger Editor* you could directly call the PPG APIs and also could auto-generate a client for PPG APIs in your preferred programming language.  The base URL of PPG is: `https://napi.jibit.ir/ppg`  Full documentation is available on: https://napi.jibit.ir/ppg/v3/static/docs/index.html

API version: 3.2.48
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ppg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TerminalAPIAPIService TerminalAPIAPI service
type TerminalAPIAPIService service

type ApiListActiveTerminalsRequest struct {
	ctx context.Context
	ApiService *TerminalAPIAPIService
}

func (r ApiListActiveTerminalsRequest) Execute() (*CollectionResponseTerminalDto, *http.Response, error) {
	return r.ApiService.ListActiveTerminalsExecute(r)
}

/*
ListActiveTerminals List Active Terminals

Lists all active terminals of the client and it's subordinates.
 <p>
 **Possible Error Codes: **
 <p>
 * `client.not_active`: When the client is inactive.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not in the request header as the `Authorization` parameter. 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please provide the value of the fingerprint to help us track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in the header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListActiveTerminalsRequest
*/
func (a *TerminalAPIAPIService) ListActiveTerminals(ctx context.Context) ApiListActiveTerminalsRequest {
	return ApiListActiveTerminalsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionResponseTerminalDto
func (a *TerminalAPIAPIService) ListActiveTerminalsExecute(r ApiListActiveTerminalsRequest) (*CollectionResponseTerminalDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CollectionResponseTerminalDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TerminalAPIAPIService.ListActiveTerminals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/terminals/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
