/*
PPG: Proxy Payment Gateway

PPG is the Proxy Payment Gateway of Jibit corporation. It lets the users of 3rd-party clients (merchants, banks, organizations, ...) to purchase goodies from them using PPG as a transparent payment gateway. In back-end the user will be redirected to a PSP payment gateway (for example Saman) to pay the price of the purchase.  Using APIs of this application a client can create and initiate the purchase orders and can track the state of these purchases.  Using *Swagger Editor* you could directly call the PPG APIs and also could auto-generate a client for PPG APIs in your preferred programming language.  The base URL of PPG is: `https://napi.jibit.ir/ppg`  Full documentation is available on: https://napi.jibit.ir/ppg/v3/static/docs/index.html

API version: 3.2.48
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jibit-ppg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PurchaseAPIAPIService PurchaseAPIAPI service
type PurchaseAPIAPIService service

type ApiCreatePurchaseRequest struct {
	ctx context.Context
	ApiService *PurchaseAPIAPIService
	createPurchaseRequest *CreatePurchaseRequest
}

func (r ApiCreatePurchaseRequest) CreatePurchaseRequest(createPurchaseRequest CreatePurchaseRequest) ApiCreatePurchaseRequest {
	r.createPurchaseRequest = &createPurchaseRequest
	return r
}

func (r ApiCreatePurchaseRequest) Execute() (*CreatePurchaseResult, *http.Response, error) {
	return r.ApiService.CreatePurchaseExecute(r)
}

/*
CreatePurchase Create Purchase

Creates a purchase request.
 <p>
 After creating the purchase, the client must redirect its user to the provided URL (`pspSwitchingUrl`).
 <p>
 Once the purchase is initialized, the user will be redirected to a PSP payment gateway. See also 
 <p>
 Note 1: After the user completes the payment on the PSP page, the client should verify the purchase.
 <p>
 Note 2: If the purchase is not verified (completed) within 15 minutes of creation, it will expire.
 <p>
 **Possible Error Codes: **
 <p>
 * `client.not_active`: When the client is inactive.
 * `amount.is_required`: When the amount is empty.
 * `amount.not_enough`: When the amount is invalid. The minimum amount is 5000 Rials.
 * `wage.is_invalid`: When the wage is invalid. Its minimum value is 0.
 * `fee_as_wage.wage_must_be_zero`: When the *Setting the Fee as Wage* feature is enabled for the client, and the `wage` parameter has non-zero value.
 * `amount_plus_wage.permitted_value_exceeded`: When amount plus wage exceeds the maximum permitted value for your client. The default max amount is 2_000_000_000 IRR.
 * `wage.must_be_less_than_fifteen_percent_of_purchase_amount`: when wage exceeds 15% of the purchase amount.
 * `currency.is_required`: When the currency is empty.
 * `callbackUrl.is_required`: When callbackUrl is empty.
 * `callbackUrl.is_invalid`: When callbackUrl is invalid.
 * `callbackUrl.max_length`: When callbackUrl exceeds its allowed length. Its maximum length is 1024 characters.
 * `callbackUrl.domain_not_in_whitelist`: Domain of callback URL is not in whitelist.
 * `clientReferenceNumber.is_required`: When clientReferenceNumber is empty.
 * `clientReferenceNumber.duplicated`: When clientReferenceNumber for the client is not unique.
 * `payerCardNumber.is_invalid`: When payerCardNumber is invalid.
 * `payerNationalCode.is_invalid`: When payerNationalCode is invalid.
 * `userIdentifier.max_length`: When userIdentifier exceeds its allowed length. Its maximum length is 50 characters.
 * `payerMobileNumber.is_invalid`: When payerMobileNumber is invalid.
 * `payerMobileNumber.in_blacklist`: When the payer mobile number is in the blacklist.
 * `payerMobileNumber.must_be_provided_to_check_with_card_number`: When the client has set `checkPayerMobileNumber` to true, but the payerMobileNumber is not provided.
 * `payerCardNumber_and_payerCardNumbers.just_one_of_them_is_permitted`: Just one of these parameters is permitted: `payerCardNumber`, `payerCardNumbers`
 * `description.max_length`: When the description exceeds its allowed length. Its maximum length is 256 characters.
 * `switching.terminalIds.is_required`: When no terminal IDs are provided for terminal switching.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not in the request header as the `Authorization` parameter. 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please provide the value of the fingerprint to help us track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in the header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePurchaseRequest
*/
func (a *PurchaseAPIAPIService) CreatePurchase(ctx context.Context) ApiCreatePurchaseRequest {
	return ApiCreatePurchaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePurchaseResult
func (a *PurchaseAPIAPIService) CreatePurchaseExecute(r ApiCreatePurchaseRequest) (*CreatePurchaseResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePurchaseResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseAPIAPIService.CreatePurchase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPurchaseRequest == nil {
		return localVarReturnValue, nil, reportError("createPurchaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPurchaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFilterPurchaseHistoriesRequest struct {
	ctx context.Context
	ApiService *PurchaseAPIAPIService
	criteria *PurchaseHistoryFilterCriteria
}

// Encapsulates the criteria for querying purchase history within a specified date range.  Supports pagination via &#x60;nextPageId&#x60; for faster loading, and optional page/size parameters.  &lt;p&gt;  Example Usage:  from: &#x60;2024-10-15T13:00:00Z&#x60;  to:   &#x60;2024-10-15T14:00:00Z&#x60;
func (r ApiFilterPurchaseHistoriesRequest) Criteria(criteria PurchaseHistoryFilterCriteria) ApiFilterPurchaseHistoriesRequest {
	r.criteria = &criteria
	return r
}

func (r ApiFilterPurchaseHistoriesRequest) Execute() (*IdPaginatedDetailedPurchaseHistoryDto, *http.Response, error) {
	return r.ApiService.FilterPurchaseHistoriesExecute(r)
}

/*
FilterPurchaseHistories Filter Purchase Histories

Filters purchase log history based on the given criteria and page request.
 For quicker responses, choose smaller date ranges, such as one hour,
 and use `nextPageId` instead of `page` in your request.
 Ensure all criteria parameter values are URL-Encoded.
 <p>
 **Note:** Except for filtering by purchase identifier (`purchaseId`), other filtering options need to be manually enabled by an admin.
 <p>
 **Possible Error Codes:**
 <p>
 * `from_and_to.difference_must_be_less_than_3_hours`: The difference between `from` and `to` should be less than 3 hours.
 * `criteria.is_empty`: No filtering criteria specified. Please include at least one.
 * `states.can_not_have_null_value`: The `states` parameter cannot have a null value.
 * `too_many_requests`: Only one request at a time is allowed for filtering purchase histories.
 * `page_number.max_exceeded`: The page number exceeds its allowed value.
 * `page_size.max_exceeded`: The page size exceeds its allowed value.
 * `client.not_active`: The client is not active.
 * `ip.not_trusted`: The client's IP is not trusted. Xref:client_trusted_ips[Read More.]
 * `security.auth_required`: A Bearer JWT token as the `Authorization` parameter is missing in the request header. Xref:jwt_access_tokens[Read More.]
 * `token.verification_failed`: The access token is invalid or expired. Xref:jwt_access_tokens[Read More.]
 * `server.error`: Internal server error. Provide the fingerprint value to help trace the issue internally.
 <p>
 **Authorization**: Bearer JWT token in header. Xref:jwt_access_tokens[Read More.]

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFilterPurchaseHistoriesRequest
*/
func (a *PurchaseAPIAPIService) FilterPurchaseHistories(ctx context.Context) ApiFilterPurchaseHistoriesRequest {
	return ApiFilterPurchaseHistoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IdPaginatedDetailedPurchaseHistoryDto
func (a *PurchaseAPIAPIService) FilterPurchaseHistoriesExecute(r ApiFilterPurchaseHistoriesRequest) (*IdPaginatedDetailedPurchaseHistoryDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IdPaginatedDetailedPurchaseHistoryDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseAPIAPIService.FilterPurchaseHistories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/histories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.criteria == nil {
		return localVarReturnValue, nil, reportError("criteria is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "criteria", r.criteria, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFilterPurchasesRequest struct {
	ctx context.Context
	ApiService *PurchaseAPIAPIService
	criteria *PurchaseFilterCriteria
}

// Encapsulates the information to filter purchases.
func (r ApiFilterPurchasesRequest) Criteria(criteria PurchaseFilterCriteria) ApiFilterPurchasesRequest {
	r.criteria = &criteria
	return r
}

func (r ApiFilterPurchasesRequest) Execute() (*PaginatedDetailedPurchaseDto, *http.Response, error) {
	return r.ApiService.FilterPurchasesExecute(r)
}

/*
FilterPurchases Filter Purchases

Filters the purchases with provided criteria and page request.
 All criteria parameter values should be URL-Encoded.
 **Possible Error Codes:**
 <p>
 * `too_many_requests`: Only one request is allowed at a time to filter purchases.
 * `page_number.max_exceeded`: The page number is exceeded its allowed value.
 * `page_size.max_exceeded`: The page size is exceeded its allowed size.
 * `client.not_active`: When the client is not active.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFilterPurchasesRequest
*/
func (a *PurchaseAPIAPIService) FilterPurchases(ctx context.Context) ApiFilterPurchasesRequest {
	return ApiFilterPurchasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedDetailedPurchaseDto
func (a *PurchaseAPIAPIService) FilterPurchasesExecute(r ApiFilterPurchasesRequest) (*PaginatedDetailedPurchaseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedDetailedPurchaseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseAPIAPIService.FilterPurchases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.criteria == nil {
		return localVarReturnValue, nil, reportError("criteria is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "criteria", r.criteria, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReversePurchaseRequest struct {
	ctx context.Context
	ApiService *PurchaseAPIAPIService
	reversePurchaseRequest *ReversePurchaseRequest
}

func (r ApiReversePurchaseRequest) ReversePurchaseRequest(reversePurchaseRequest ReversePurchaseRequest) ApiReversePurchaseRequest {
	r.reversePurchaseRequest = &reversePurchaseRequest
	return r
}

func (r ApiReversePurchaseRequest) Execute() (*ReversePurchaseResult, *http.Response, error) {
	return r.ApiService.ReversePurchaseExecute(r)
}

/*
ReversePurchase Reverse Purchase

Reverse a purchase. <br>
 <b>
 **This feature is not enabled by default and should be enabled by admin manually.**
 </b>
 <p>
 **Possible Error Codes:**
 <p>
 * `reverse.is_not_enabled`: When this feature is not enabled for the client.
 * `purchase.not_found`: When the purchase is not found.
 * `reverse.not_supported`: When the refund is not supported for this type of purchase.
 * `purchase.invalid_state`: When the purchase is not in valid (FINISHED) state.
 * `clientReferenceNumber_or_purchaseId.are_required`: When clientReferenceNumber and purchaseId are not provided.
 * `purchase.not_reversible`: When the purchase is not reversible because of internal verification procedures.
 * `purchase.refunded`: When the refund API has called for this purchase; so you can't reverse it.
 * `purchase.already_reversed`: When the purchase is already reversed.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReversePurchaseRequest
*/
func (a *PurchaseAPIAPIService) ReversePurchase(ctx context.Context) ApiReversePurchaseRequest {
	return ApiReversePurchaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReversePurchaseResult
func (a *PurchaseAPIAPIService) ReversePurchaseExecute(r ApiReversePurchaseRequest) (*ReversePurchaseResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReversePurchaseResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseAPIAPIService.ReversePurchase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/reverse"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reversePurchaseRequest == nil {
		return localVarReturnValue, nil, reportError("reversePurchaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reversePurchaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyPurchaseRequest struct {
	ctx context.Context
	ApiService *PurchaseAPIAPIService
	purchaseId int64
}

func (r ApiVerifyPurchaseRequest) Execute() (*VerifyPurchaseResult, *http.Response, error) {
	return r.ApiService.VerifyPurchaseExecute(r)
}

/*
VerifyPurchase Verify Purchase

Verifies a purchase by the client.
 The client should call this API after we redirect the user to the client's callback URL.
 <p>
 Only purchases with the state `READY_TO_VERIFY` can be verified.
 <p>
 If the client does not call this API, the PSP will automatically reverse the payment after a certain period of time, and the purchase state will be set to `EXPIRED`.
 <p>
 Note 1: This API does not have a request body and can be called using both `GET` and `POST` methods.
 <p>
 Note 2: For using Auto-verify feature consult our admins. Note that using this feature does not guaranty that purchase will be verified 100%,
 but it can decrease the number of `EXPIRED` purchases due to not verified by client significantly.
 So a client still must call the verification API with this feature enabled, but in most cases the API will return `payment.already_verified` error.
 <p>
 **Possible Error Codes:**
 <p>
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `client.not_active`: When the client is inactive.
 * `purchase.not_found`: When the purchase does not found.
 * `payment.already_verified`: When the purchase is already verified.
 * `purchase.invalid_state`: When the purchase's state is invalid.
 * `purchase.already_reversed`: When the purchase is already reversed.
 * `security.auth_required`: The bearer JWT token is not in the request header as the `Authorization` parameter.
 
 * `token.verification_failed`: When the access token is invalid or expired. 
 * `server.error`: Internal server error. Please provide the value of the fingerprint to help us track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in the header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param purchaseId
 @return ApiVerifyPurchaseRequest
*/
func (a *PurchaseAPIAPIService) VerifyPurchase(ctx context.Context, purchaseId int64) ApiVerifyPurchaseRequest {
	return ApiVerifyPurchaseRequest{
		ApiService: a,
		ctx: ctx,
		purchaseId: purchaseId,
	}
}

// Execute executes the request
//  @return VerifyPurchaseResult
func (a *PurchaseAPIAPIService) VerifyPurchaseExecute(r ApiVerifyPurchaseRequest) (*VerifyPurchaseResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerifyPurchaseResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseAPIAPIService.VerifyPurchase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/{purchaseId}/verify"
	localVarPath = strings.Replace(localVarPath, "{"+"purchaseId"+"}", url.PathEscape(parameterValueToString(r.purchaseId, "purchaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
