/*
PPG: Proxy Payment Gateway

PPG is the Proxy Payment Gateway of Jibit corporation. It lets the users of 3rd-party clients (merchants, banks, organizations, ...) to purchase goodies from them using PPG as a transparent payment gateway. In back-end the user will be redirected to a PSP payment gateway (for example Saman) to pay the price of the purchase.  Using APIs of this application a client can create and initiate the purchase orders and can track the state of these purchases.  Using *Swagger Editor* you could directly call the PPG APIs and also could auto-generate a client for PPG APIs in your preferred programming language.  The base URL of PPG is: `https://napi.jibit.ir/ppg`  Full documentation is available on: https://napi.jibit.ir/ppg/v3/static/docs/index.html

API version: 3.2.48
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jibit-ppg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SettlementAPIAPIService SettlementAPIAPI service
type SettlementAPIAPIService service

type ApiFilterSettlementsRequest struct {
	ctx context.Context
	ApiService *SettlementAPIAPIService
	criteria *SettlementFilterCriteria
}

// Encapsulates the information to filter settlements.
func (r ApiFilterSettlementsRequest) Criteria(criteria SettlementFilterCriteria) ApiFilterSettlementsRequest {
	r.criteria = &criteria
	return r
}

func (r ApiFilterSettlementsRequest) Execute() (*PaginatedDetailedSettlementDto, *http.Response, error) {
	return r.ApiService.FilterSettlementsExecute(r)
}

/*
FilterSettlements Filter Settlements

Filters the settlements with provided criteria and page request.
 All criteria parameter values should be URL-Encoded.
 **Possible Error Codes:**
 <p>
 * `page_number.max_exceeded`: The page number is exceeded its allowed value.
 * `page_size.max_exceeded`: The page size is exceeded its allowed size.
 * `client.not_active`: When the client is not active.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFilterSettlementsRequest
*/
func (a *SettlementAPIAPIService) FilterSettlements(ctx context.Context) ApiFilterSettlementsRequest {
	return ApiFilterSettlementsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedDetailedSettlementDto
func (a *SettlementAPIAPIService) FilterSettlementsExecute(r ApiFilterSettlementsRequest) (*PaginatedDetailedSettlementDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedDetailedSettlementDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SettlementAPIAPIService.FilterSettlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/settlements"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.criteria == nil {
		return localVarReturnValue, nil, reportError("criteria is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "criteria", r.criteria, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
