/*
PPG: Proxy Payment Gateway

PPG is the Proxy Payment Gateway of Jibit corporation. It lets the users of 3rd-party clients (merchants, banks, organizations, ...) to purchase goodies from them using PPG as a transparent payment gateway. In back-end the user will be redirected to a PSP payment gateway (for example Saman) to pay the price of the purchase.  Using APIs of this application a client can create and initiate the purchase orders and can track the state of these purchases.  Using *Swagger Editor* you could directly call the PPG APIs and also could auto-generate a client for PPG APIs in your preferred programming language.  The base URL of PPG is: `https://napi.jibit.ir/ppg`  Full documentation is available on: https://napi.jibit.ir/ppg/v3/static/docs/index.html

API version: 3.2.48
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ppg

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RefundAPIAPIService RefundAPIAPI service
type RefundAPIAPIService service

type ApiCancelRefundRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundId int64
	refundActionRequest *RefundActionRequest
}

func (r ApiCancelRefundRequest) RefundActionRequest(refundActionRequest RefundActionRequest) ApiCancelRefundRequest {
	r.refundActionRequest = &refundActionRequest
	return r
}

func (r ApiCancelRefundRequest) Execute() (*http.Response, error) {
	return r.ApiService.CancelRefundExecute(r)
}

/*
CancelRefund Cancel Refund

Cancels a cancelling refund.
 <p>
 **Possible Error Codes:**
 <p>
 * `transfer.not_found`: When the refundId is not found.
 * `cancellation.failed`: When the cancellation process failed.
 * `cancellation.not_applicable`: When cancel request could not be applied.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param refundId
 @return ApiCancelRefundRequest
*/
func (a *RefundAPIAPIService) CancelRefund(ctx context.Context, refundId int64) ApiCancelRefundRequest {
	return ApiCancelRefundRequest{
		ApiService: a,
		ctx: ctx,
		refundId: refundId,
	}
}

// Execute executes the request
func (a *RefundAPIAPIService) CancelRefundExecute(r ApiCancelRefundRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.CancelRefund")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refunds/{refundId}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"refundId"+"}", url.PathEscape(parameterValueToString(r.refundId, "refundId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refundActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIgnoreCancellingRefundRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundId int64
	refundActionRequest *RefundActionRequest
}

func (r ApiIgnoreCancellingRefundRequest) RefundActionRequest(refundActionRequest RefundActionRequest) ApiIgnoreCancellingRefundRequest {
	r.refundActionRequest = &refundActionRequest
	return r
}

func (r ApiIgnoreCancellingRefundRequest) Execute() (*http.Response, error) {
	return r.ApiService.IgnoreCancellingRefundExecute(r)
}

/*
IgnoreCancellingRefund Ignore Cancelling Refund

Ignores a cancelling refund.
 <p>
 **Possible Error Codes:**
 <p>
 * `transfer.not_found`: When the refundId is not found.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param refundId
 @return ApiIgnoreCancellingRefundRequest
*/
func (a *RefundAPIAPIService) IgnoreCancellingRefund(ctx context.Context, refundId int64) ApiIgnoreCancellingRefundRequest {
	return ApiIgnoreCancellingRefundRequest{
		ApiService: a,
		ctx: ctx,
		refundId: refundId,
	}
}

// Execute executes the request
func (a *RefundAPIAPIService) IgnoreCancellingRefundExecute(r ApiIgnoreCancellingRefundRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.IgnoreCancellingRefund")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refunds/{refundId}/ignore-cancellable"
	localVarPath = strings.Replace(localVarPath, "{"+"refundId"+"}", url.PathEscape(parameterValueToString(r.refundId, "refundId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refundActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiInquiryRefundRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundId int64
}

func (r ApiInquiryRefundRequest) Execute() (*RefundInquiryResult, *http.Response, error) {
	return r.ApiService.InquiryRefundExecute(r)
}

/*
InquiryRefund Inquiry Refund

Inquiries a Refund.
 refundId is purchaseId.
 <p>
 **Possible Error Codes:**
 <p>
 * `transfer.not_found`: When the refundId is not found.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param refundId
 @return ApiInquiryRefundRequest
*/
func (a *RefundAPIAPIService) InquiryRefund(ctx context.Context, refundId int64) ApiInquiryRefundRequest {
	return ApiInquiryRefundRequest{
		ApiService: a,
		ctx: ctx,
		refundId: refundId,
	}
}

// Execute executes the request
//  @return RefundInquiryResult
func (a *RefundAPIAPIService) InquiryRefundExecute(r ApiInquiryRefundRequest) (*RefundInquiryResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RefundInquiryResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.InquiryRefund")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refunds/{refundId}"
	localVarPath = strings.Replace(localVarPath, "{"+"refundId"+"}", url.PathEscape(parameterValueToString(r.refundId, "refundId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefundPurchaseRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundPurchaseRequest *RefundPurchaseRequest
}

func (r ApiRefundPurchaseRequest) RefundPurchaseRequest(refundPurchaseRequest RefundPurchaseRequest) ApiRefundPurchaseRequest {
	r.refundPurchaseRequest = &refundPurchaseRequest
	return r
}

func (r ApiRefundPurchaseRequest) Execute() (*RefundPurchaseResult, *http.Response, error) {
	return r.ApiService.RefundPurchaseExecute(r)
}

/*
RefundPurchase Refund Purchase

Refunds a purchase.
 <p>
 **Possible Error Codes:**
 <p>
 * `clientReferenceNumber_or_purchaseId.are_required`: When clientReferenceNumber and purchaseId are not provided.
 * `purchase.not_found`: When the purchase is not found.
 * `purchase.invalid_state`: When the purchase is not in valid (SUCCESS) state.
 * `refund.not_supported`: When the refund is not supported for this type of purchase or refund is not active for the client.
 * `batchID.invalid_length`
 * `submissionMode.not_valid`
 * `transfers.invalid_length`
 * `transfers.0.transferID.invalid_length`
 * `transfers.0.destination.not_valid`
 * `transfers.0.source_bank.not_supported`
 * `transfers.0.destinationFirstName.invalid_length`
 * `transfers.0.destinationLastName.invalid_length`
 * `transfers.0.amount.not_enough_for_ach`
 * `transfers.0.amount.exceeded_maximum_for_ach`
 * `transfers.0.amount.not_enough_for_normal`
 * `transfers.0.amount.exceeded_maximum_for_normal`
 * `transfers.0.currency.not_valid`
 * `transfers.0.description.invalid_length`
 * `transfers.0.metadata.invalid_length`
 * `transfers.0.notifyURL.invalid_length`
 * `transfers.0.notifyURL.not_valid`
 * `transfers.0.paymentID.invalid_length`
 * `transfers.0.paymentID.not_valid`
 * `payment_id.not_enabled`
 * `balances.not_enough`
 * `daily_limitation.reached`
 * `transfer.already_exists`
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRefundPurchaseRequest
*/
func (a *RefundAPIAPIService) RefundPurchase(ctx context.Context) ApiRefundPurchaseRequest {
	return ApiRefundPurchaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RefundPurchaseResult
func (a *RefundAPIAPIService) RefundPurchaseExecute(r ApiRefundPurchaseRequest) (*RefundPurchaseResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RefundPurchaseResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.RefundPurchase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refund"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.refundPurchaseRequest == nil {
		return localVarReturnValue, nil, reportError("refundPurchaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refundPurchaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetryRefundRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundId int64
	refundActionRequest *RefundActionRequest
}

func (r ApiRetryRefundRequest) RefundActionRequest(refundActionRequest RefundActionRequest) ApiRetryRefundRequest {
	r.refundActionRequest = &refundActionRequest
	return r
}

func (r ApiRetryRefundRequest) Execute() (*http.Response, error) {
	return r.ApiService.RetryRefundExecute(r)
}

/*
RetryRefund Retry Refund

Retries a failed refund.
 <p>
 **Possible Error Codes:**
 <p>
 * `transfer.not_found`: When the refundId is not found.
 * `retry.failed`: When the retry process failed.
 * `retry.not_applicable`: When retry request could not be applied.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `web.invalid_or_missing_body`: When the request body is not a valid JSON. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param refundId
 @return ApiRetryRefundRequest
*/
func (a *RefundAPIAPIService) RetryRefund(ctx context.Context, refundId int64) ApiRetryRefundRequest {
	return ApiRetryRefundRequest{
		ApiService: a,
		ctx: ctx,
		refundId: refundId,
	}
}

// Execute executes the request
func (a *RefundAPIAPIService) RetryRefundExecute(r ApiRetryRefundRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.RetryRefund")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refunds/{refundId}/retry"
	localVarPath = strings.Replace(localVarPath, "{"+"refundId"+"}", url.PathEscape(parameterValueToString(r.refundId, "refundId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refundActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiVerifyRefundRequest struct {
	ctx context.Context
	ApiService *RefundAPIAPIService
	refundId int64
	refundActionRequest *RefundActionRequest
}

func (r ApiVerifyRefundRequest) RefundActionRequest(refundActionRequest RefundActionRequest) ApiVerifyRefundRequest {
	r.refundActionRequest = &refundActionRequest
	return r
}

func (r ApiVerifyRefundRequest) Execute() (*http.Response, error) {
	return r.ApiService.VerifyRefundExecute(r)
}

/*
VerifyRefund Verify Refund

Verifies a refund. If the verifying refund option is enabled, the client should verify its refund to start actual refunding.
 <p>
 **Possible Error Codes:**
 <p>
 * `transfer.not_found`: When the refundId is not found.
 * `purchase.not_found`: When the purchase is not found.
 * `verify.failed`: There is an internal issue while verifying. Please try again.
 * `verify.not_applicable`: The refund is already verified, and it can't be verified again.
 * `ip.not_trusted`: When the client IP is not trusted. 
 * `security.auth_required`: The bearer JWT token is not present in request header as the `Authorization` parameter.
 
 * `token.verification_failed`: The access token is invalid or expired. 
 * `server.error`: Internal server error. Please tell us the value of fingerprint to be able to track the exact problem internally.
 <p>
 **Authorization**: Bearer JWT token in header. 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param refundId
 @return ApiVerifyRefundRequest
*/
func (a *RefundAPIAPIService) VerifyRefund(ctx context.Context, refundId int64) ApiVerifyRefundRequest {
	return ApiVerifyRefundRequest{
		ApiService: a,
		ctx: ctx,
		refundId: refundId,
	}
}

// Execute executes the request
func (a *RefundAPIAPIService) VerifyRefundExecute(r ApiVerifyRefundRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RefundAPIAPIService.VerifyRefund")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/purchases/refunds/{refundId}/verify"
	localVarPath = strings.Replace(localVarPath, "{"+"refundId"+"}", url.PathEscape(parameterValueToString(r.refundId, "refundId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refundActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
